@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  height: 100%;

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5em;

  color: #000000;
  background: #ffffff;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
::after,
::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

  list-style-type: none;
}

.app-wrapper {
  display: flex;
  max-width: 901px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.app-header {
  display: flex;
}

.app-header .app-wrapper {
  justify-content: space-between;
}

.app-main {
  margin-top: 30px;
}

.app-main .app-wrapper {
  flex-direction: column;
}

.banner {
  margin-top: 15px;
}

.banner-image {
  height: 100px;
  object-fit: cover;
}

.app-footer {
  margin-top: 20px;
  margin-bottom: 30px;
}

.news-nav {
  display: flex;
}

.news-nav-menu {
  display: flex;
  flex-wrap: wrap;
}

.news-nav-menu__item {
  margin-right: 12px;
}

.news-nav-menu__item
.news-nav-menu__item-link {
  font-weight: 700;

  color: #6da2e1;
}

.news-nav-menu__item.active
.news-nav-menu__item-link {
  color: #0054b9;
}

.news-current-datetime {
  font-size: 13px;
  color: #90919d;
}

.news-content {
  margin-top: 9px;
  font-size: 14.5px;
}

.exchange-rates-container {
  display: flex;
  margin-top: 9px;
}

.exchange-rates {
  display: flex;

  font-size: 13.5px;
}

.exchange-rates__item {
  margin-right: 12px;
}

.exchange-rates__item-link {
  font-weight: 700;
  text-transform: uppercase;

  color: #000000;
}

.exchange-rates__item-rate {
  margin-left: 6px;

  color: #90919d;
}

.exchange-rates__more-rates {
  color: #90919d;
}

.adt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
}

.adt__image-container {
  width: 100px;
}

.adt-image {
  border-radius: 100px;
}

.adt-title {
  margin-top: 10px;
  margin-bottom: 0;

  font-size: 18px;
}

.adt-title__link {
  color: #0054b9;
}

.adt-description {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 14.5px;
}

.search {
  width: 100%;
}

.search-nav {
  display: flex;
}

.search-nav-menu {
  display: flex;
  flex-wrap: wrap;
}

.search-nav-menu__item {
  margin-right: 18px;
}

.search-nav-menu__item
.search-nav-menu__item-link {
  font-weight: 400;

  color: #0054b9;
}

.search-bar {
  display: flex;
  margin-top: 7px;
  margin-left: -135px;
}

.search-bar-label {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 20px;

  font-weight: 700;
  font-size: 34px;
}

.search-bar-label::first-letter {
  color: #ff0000;
}

.search-bar-input {
  width: 100%;
  padding: 5px;

  border: 2px solid #ffcc00;
}

.search-bar-button {
  padding: 5px 20px 5px 15px;

  background-color: #ffcc00;
  border: none;

  cursor: pointer;

  clip-path: polygon(90% 0, 100% 50%, 100% 50%, 90% 100%, 0 100%, 0 50%, 0 0);
}

.search-advice {
  margin-top: 5px;
  margin-bottom: 0;

  font-size: 13.5px;
}

.search-advice__example {
  color: #90919d;
}

.widgets {
  display: flex;
  flex-wrap: wrap;
}

.widgets-column {
  flex: calc(100% / 3 - 31.33px);
  width: 290px;
}

.widgets-column:not(:first-child) {
  padding-left: 15px;
}

.widget-container {
  margin-top: 15px;
}

.widget-title {
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 18px;
}

.widget-title__link {
  color: #0054b9;
}

.widget-list__item {
  font-size: 13.5px;
}

.widget-list__item-source {
  color: #90919d;
}

.weather-degrees {
  display: flex;
  align-items: center;
}

.weather-degrees__average {
  font-weight: 700;
  font-size: 24px;
}

.weather-degrees__in-detail {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  font-size: 14px;
  line-height: initial;
}
